thead {
    background-color: #0d47a1;
    color: white;
    width: 300px;
  }

  .export-btn{
    color: white;
    background-color: #0d47a1;
     border: none;
    border-radius: 3px;
    padding: 5px;
}
.export-btn:hover{
    cursor: pointer;
}
.export-btn-layout{
    margin-left: 85%;
    width: 14%;
}
img {
    filter: brightness(0) invert(1);
      }