.spinner-border{
    width: 12rem !important;
    height: 12rem !important;
}
.loadercontainer{
    align-items: center;
    display: block;
    align-content: center;
    text-align: center;
    margin-top: 25%;

}
.card-value{
    color: #0d47a1;
}