@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

ng2-smart-table-pager{
    justify-content: center !important;
    font-size: larger;
}
.ng2-smart-sort-link {
  color: #0d47a1 !important;
  font-size: 12px;
  text-align: center;
}