@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

@import "~@ng-select/ng-select/themes/default.theme.css";


html, body {
  max-width: 100%;
  overflow-x: hidden;
}

ng2-smart-table-pager{
    justify-content: center !important;
    font-size: larger;
}
.search-inbut{
  height: 7.4vh;
}
.modal-content{
  position: fixed;
  width: 80%;
  left: 15%;
}